<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="JS/AJAX.js" defer></script>
    <title>Sorteador</title>
</head>
<body>
<div class="container mt-5">
    <h3 class="text-center">Sorteador</h3>
    <form action="/" method="post">
        <div class="input-group mb-3">
            <input id="quantosNumeros" name="quantosNumeros" type="number" class="form-control"
                   placeholder="Quantidade de Numeros"
                   aria-describedby="sp_quantosNumeros">
            <span class="input-group-text" id="sp_quantosNumeros">Quantidade</span>
        </div>
        <div class="input-group mb-3">
            <input id="numeroMinimo" name="numeroMinimo" type="number" class="form-control" placeholder="Numero Minimo"
                   aria-describedby="sp_numeroMinimo">
            <span class="input-group-text" id="sp_numeroMinimo">Minimo</span>
        </div>
        <div class="input-group mb-3">
            <input id="numeroMaximo" name="numeroMaximo" type="number" class="form-control" placeholder="Numeros Maximo"
                   aria-describedby="sp_numeroMaximo">
            <span class="input-group-text" id="sp_numeroMaximo">Maximo&nbsp;</span>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <button class="btn btn-success">Sortear</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>